body {
	background: rgb(197, 235, 138) url('../media/MattEmcee_bg.png') no-repeat center -50px;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	color: rgb(85, 108, 27);
	display: block;
	height: auto;
	padding: 0px;
	margin: 0px;
}
#container {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}
#container h1 {
	font-size: 70px;
	line-height: 65px;
	color: #000;
	text-shadow: 5px 5px 8px rgba(85, 107, 26, .8);
	margin: 200px 0 0 250px;
	padding: 0;
}
#brand {
	width: 100%;
	height: 54px;
	margin: 20px 0 0 0;
	clear: both;
}
#brand_title {
	float: left;
	height: 35px;
	margin: 0;
	padding: 0;
}
	#brand_title h2 {
		margin: 0 0 0 253px;
		padding: 0;
		font-size: 35px;
		line-height: 30px;
		color: #333;
	}
	#brand_title p {
		margin: 0 0 0 253px;
		padding: 10px 0 0 0;
		color: #333;
	}
#plusOne {
	float: left;
	height: 24px;
	margin: 5px 0 auto 0;
	padding: 0 10px 0 20px;
	clear: right;
}
#linkedIn {
	float: left;
	margin: 30px 0 0 255px;
	clear: left;
	height: 18px;
}
#googlePlus {
	float: left;
	margin: 30px 0 0 0;
	padding: 0 0 0 20px;
	height: 18px;
}
#message {
	float: left;
	margin: 30px 0 0 0;
	padding: 0 0 0 20px;
	height: 18px;
}
#portfolio_links {
	float: left;
	font-size: 16px;
	margin: 0 0 0 254px;
	padding: 0;
}
#container a {
	color: rgb(85, 108, 27);
}
#container a:hover {
	background-color: rgb(197, 235, 138);
}
#twitter {
	font-size: 100px;
	text-align: center;
	opacity: 0.1;
	margin: 65px 0 0 0;
	padding: 0;
}
#twitter a {
	text-decoration: none;
	color: rgb(85, 108, 27);
}
#twitter a:hover {
	background-color: transparent;
}

/************************
  		universal
*************************/
.clear { clear: both; }
fieldset { border: none; }
input, textarea { outline: none; }

/************************
  	  form styling
*************************/
#lightbox {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -300px auto auto -200px;
	width: 400px;
	height: 600px;
	background-color: #000;
	border-radius: 10px;
	z-index: 1001;
}
#lightbox h2 {
	text-align: center; 
	font-size: 30px;
	color: #fff; 
	line-height: 30px; 
	margin: 15px 0 0 0; 
	padding: 0;
}
#lightbox p {
	text-align: center;
	color: #555; 
	margin: 10px 0 20px 0; 
	padding: 0;
}
#lightbox-shadow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .8;
	z-index: 1000;
}

#formArea {
	width: 380px;
	padding: 0;
	margin: 5px auto;
}

label {
	font-size: 22px;
	line-height: 20px;
}

input {
	width: 100%;
	font-size: 18px;
	line-height: 18px;
	margin: 10px 0;
	padding: 0;
}

input:focus {
	background-color: rgb(197, 235, 138);
}

textarea {
	width: 100%;
	font-size: 18px;
	line-height: 18px;
	margin: 10px 0;
	padding: 0;
}

textarea:focus {
	background-color: rgb(197, 235, 138);
}

.invalid {
	background-color: #fe6b6b;
}

.invalid:focus {
	background-color: #fea1a1;
}

#submitForm {
	width: 75px;
	height: 75px;
	margin: 20px auto;
}